<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>$fn.get("MAVEN_GROUP_ID","to.be.defined")</groupId>
	<artifactId>$fn.get("MAVEN_ARTIFACT_ID","to.be.defined")</artifactId>
	<version>$fn.get("PROJECT_VERSION","to.be.defined")</version>
	<packaging>war</packaging>
	
	<dependencies>

		<!-- Add the JDBC driver here -->

		<!-- Insert contents of : pom_dependencies_common.txt -->

		<!-- Insert contents of : pom_dependencies_web.txt -->

		<!-- Insert contents of : pom_dependencies_service.txt -->

		<!-- Insert contents of : pom_dependencies_persistence.txt -->

	</dependencies>

	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<java.version>1.7</java.version>
	</properties>

	<build>
		<finalName>${project.artifactId}</finalName>
		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.1</version>
				<configuration>
					<source>${DOLLAR}{java.version}</source>
					<target>${DOLLAR}{java.version}</target>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.wildfly.plugins</groupId>
				<artifactId>wildfly-maven-plugin</artifactId>
				<version>${DOLLAR}{wildfly-plugin-version}</version>
				<executions>
					<execution>
						<phase>package</phase>
						<goals>
							<goal>deploy</goal>
						</goals>
						<configuration>
							<hostname>${DOLLAR}{wildfly-hostname}</hostname>
							<port>${DOLLAR}{wildfly-port}</port>
							<username>${DOLLAR}{wildfly-username}</username>
							<password>${DOLLAR}{wildfly-password}</password>
						</configuration>
					</execution>
				</executions>
				<configuration>
					<hostname>${DOLLAR}{wildfly-hostname}</hostname>
					<port>${DOLLAR}{wildfly-port}</port>
					<username>${DOLLAR}{wildfly-username}</username>
					<password>${DOLLAR}{wildfly-password}</password>
				</configuration>
			</plugin>
		</plugins>
	</build>

</project>
